<h1 class="title">
        <span class="pull-left animated infinite pulse">
            KAS YRA "BEBRAS"
        </span>
</h1>
<div class="div"></div>
<div>
    <div class="text-content">
    <span class="c2">Konkursas vyksta 40 &scaron;ali&#371;</span></p><p
        class="c3"><span class="c2">Informatikos ir informatinio m&#261;stymo konkursas </span><span class="c4">&bdquo;Bebras&ldquo;
    &#303;steigtas Lietuvoje 2004</span><span class="c2">&nbsp;metais. Greitai tapo tarptautiniu, kasmet prie jo prisijungia vis naujos &scaron;alys. Pasaulyje did&#279;ja poreikis informatikos in&#382;inieri&#371;, informacini&#371; technologij&#371; specialist&#371;, geban&#269;i&#371; kurti modernias, inovatyvias kompiuteri&#371; programas ir teikti intelektualias paslaugas. Didelis u&#382;davinys tenka ugdymui: </span><span
        class="c4">pradedant nuo pradinuk&#371; reikia mokyti in&#382;inierinio, loginio, algoritminio, analitinio, procesinio m&#261;stymo</span><span
        class="c2">. &bdquo;Bebro&ldquo; konkursas kaip tik to ir siekia. U&#382;davinius kuria visos j&#303; rengian&#269;ios &scaron;alys drauge, &scaron;itaip apjungiamos skirtingos mokslinink&#371; mokyklos, derinami siekiai, formuojama ateities informatikos pl&#279;tros vizija.</span>
</p><p class="c3"><span class="c2">&bdquo;Bebras&ldquo; daro &#303;tak&#261; ne tik mokykloms, kuri&#371; mokiniai dalyvauja konkurse ir kuri&#371; mokytojai aptarin&#279;ja u&#382;davinius. Kuriant u&#382;davinius formuojamos informatikos, in&#382;inerijos ugdymo gair&#279;s, mokymo turinys, kuriamos naujos platformos ir sistemos (pavyzd&#382;iui, interaktyviems u&#382;daviniams realizuoti, var&#382;yb&#371; pritaikymui mobiliesiems &#303;renginiams, valdymui balsu ir pan.).</span>
</p><p class="c3"><span class="c4">Pagrindin&#279; nauda vykdant &scaron;&#303; projekt&#261; tenka mokiniams ir mokytojams &ndash;
    gali &#303;sijungti visos mokyklos ir bet kurio am&#382;iaus vaikai</span><span class="c2">. Didel&#281; naud&#261; gauna &scaron;vietimo specialistai, kurie drauge dirba su u&#382;daviniais ir ai&scaron;kinam&#261;ja med&#382;iaga &ndash;
    susik&#363;r&#279; nema&#382;a tarptautin&#279; informatikos mokymo bendruomen&#279;. Jos id&#279;jos daro &#303;tak&#261; ir &scaron;vietimui neabejingai visuomen&#279;s daliai. Nedidelius, linksmus &bdquo;Bebro&ldquo;
    u&#382;davinius galima b&#363;t&#371; panaudoti ugdyti vis&#371; pilie&#269;i&#371; informacini&#371; technologij&#371; geb&#279;jimus.</span>
</p><p class="c3"><span class="c4">&bdquo;Bebro&ldquo; konkurso tikslas &ndash; atskleisti mokiniams (ir mokytojams) informatikos mokslo gro&#382;&#303;, patraukti mokini&#371; d&#279;mes&#303;, supa&#382;indinti su pagrindin&#279;mis informatikos ir informacini&#371; technologij&#371; s&#261;vokomis</span><span
        class="c2">, j&#371; platesniu kontekstu &ndash; konceptais, motyvuoti gilintis &#303; modernius informatikos ir in&#382;inerijos sprendim&#371; pri&#279;mimo metodus. &#381;aismingos, suprantamai formuluojamos u&#382;duotys apima visas fundamentalias informatikos sritis, parodoma j&#371; svarba ir derm&#279; su kitais mokslais. Tai nelengva. Populiariai pateikiant mokslo problemas ir u&#382;davinius, slypi pavojus pernelyg supaprastinti esminius klausimus arba juos i&scaron;kreipti. Tod&#279;l </span><span
        class="c4">kuriant u&#382;davinius pritraukiama daug informatikos srities mokslinink&#371; ir praktik&#371;</span><span
        class="c2">, u&#382;daviniai daug kart&#371; aptariami, nagrin&#279;jami.</span></p><p class="c0"><span
        class="c2"></span></p><p class="c3"><span class="c2">Tikslai</span></p><p class="c0"><span class="c2"></span>
</p><p class="c3"><span class="c2">Skatinti moksleivius intensyviau naudotis informacin&#279;mis technologijomis.</span>
</p><p class="c3"><span class="c2">2.2. Sudominti jaunesniojo am&#382;iaus vaikus informacin&#279;mis technologijomis, kompiuteriais ir j&#371; naudojimu mokymuisi.</span>
</p><p class="c3"><span class="c2">2.3. Parodyti moksleiviams informacini&#371; technologij&#371; teikiamus privalumus mokantis &#303;vairi&#371; dalyk&#371;.</span>
</p><p class="c3"><span
        class="c2">2.4. Ugdyti mokini&#371; k&#363;rybi&scaron;kum&#261;, informacin&#281; kult&#363;r&#261;, algoritmin&#281; ir login&#281; m&#261;stysen&#261;.</span>
</p><p class="c3"><span class="c2">2.5. Surasti moksleivius, geban&#269;ius k&#363;rybi&scaron;kai naudotis informacini&#371; technologij&#371; priemon&#279;mis ir visapusi&scaron;kai taikyti &#303;gytas &#382;inias.</span>
</p><p class="c0"><span class="c2"></span></p><p class="c3"><span class="c2">Konkurse gali dalyvauti vis&#371; bendrojo lavinimo ar bendr&#261;j&#303; lavinim&#261; teikian&#269;i&#371; mokykl&#371; moksleiviai, suskirstyti &#303; am&#382;iaus grupes (3&ndash;4, 5&ndash;6, 7&ndash;8, 9&ndash;10 ir 11&ndash;12 klas&#279;s)</span>
</p><p class="c0"><span class="c2"></span></p><p class="c3"><span class="c2">Kodel bebras?</span></p><p class="c3"><span
        class="c2">Bebras &ndash; atkaklus gyv&#363;nas, u&#382;tvenkiantis srauniausias upes, ilgai tri&#363;siantis ir pasiekiantis savo tiksl&#371;. Bebr&#371; darbo rezultatus galime pasteb&#279;ti ne vienoje Lietuvos up&#279;je ar upeli&#363;k&scaron;tyje. Atrodyt&#371; lyg var&#382;osi &ndash;
    kas daugiau med&#382;i&#371; nugrau&scaron;, u&#382;tvank&#371; pristatys.</span></p>
<div><p class="c1"><span></span></p></div>
    </div>
