<div id="pageContent">
    <h2 class="pageTitle">Kas yra NFQ</h2>

    <div class="textContent">
        <p><strong>NFQ Technologies </strong>– tarptautinė, Lietuvos ir Vokietijos kapitalo elektroninio verslo,
            programavimo paslaugų ir interneto rinkodaros kompanija, savo veiklą Lietuvoje pradėjusi 2002 metais.&nbsp;
        </p>

        <p>&nbsp;</p>

        <p>NFQ prekės ženklas buvo sukurtas 1999 metais Vokietijoje bendraminčių Wolfgang Heigl ir Andreas Stegmann
            iniciatyva. 2000 metais prie NFQ prisijungė Darius Lebedzinskas, dabartinis NFQ valdybos narys ir
            bendraturtis. Nuo 2013 m. liepos NFQ vadovauja Paulius Insoda.<br><br>Šiandien NFQ Technologies dirba
            daugiau kaip {{workers}} kvalifikuotų specialistų. Kompanija yra įgyvendinusi daugiau kaip 300 elektroninės
            komercijos projektų, valdžiusi dešimtis internetinės rinkodaros kampanijų Vakarų Europoje ir Lietuvoje. Šiuo
            metu NFQ Technologies taip pat kuria didelės apimties el. komercijos platformą&nbsp;<a
                    href="http://ongr.io/" target="_blank">ONGR</a>. </p>

        <p>&nbsp;</p>

        <p>Didžiausią ir profesionaliausią <em>web</em> bei <em>mobile</em> komandą Lietuvoje subūrusią NFQ Technologies
            sudaro Projektų kūrimo ir Produktų kūrimo padaliniai<strong>, </strong>greta veikia ir Elektroninės
            rinkodaros paslaugų, UX/UI dizaino, Elektroninės komercijos konsultacijų bei Klientų aptarnavimo padaliniai.
        </p>

        <p>&nbsp;</p>

        <p><strong>Elektroninės rinkodaros paslaugų padalinyje</strong> dirba viena didžiausių ir profesionaliausių
            Lietuvoje SEO/SEM bei naujienlaiškių rinkodaros komandų, turinti patirties tiek pradedant visiškai naujus
            el. komercijos projektus, tiek didinant rinkos milžinų efektyvumą.<br><br><strong>UX/UI dizaino
                padalinys</strong> klientams padeda sukurti ne vien patraukliai atrodančias, bet, svarbiausia, verslo
            tikslams tarnaujančias ir pelną uždirbančias vartotojo sąsajas. Padalinio sprendimai grindžiami ne nuojauta,
            o ilgamete patirtimi, skaičių, lankytojų bei rinkos analize.<br><br><strong>Elektroninės komercijos
                konsultacijų padalinys</strong> ne tik kuria el. parduotuves bei interneto svetaines, bet ir padeda
            parinkti geriausius el. verslo partnerius – logistikos, finansų, apskaitos, didmeninės prekybos, IT ir kitas
            bendroves. NFQ yra „vienas langelis“ ir norintiems pradėti naują verslą, ir optimizuoti
            senąjį.<br><br><strong>Klientų aptarnavimo padalinys</strong> užtikrina nepriekaištingus ryšius su
            klientais, padeda efektyviau naudotis naujais ir esamais el. verslo įrankiais, tobulina sprendimus bei
            sistemas.<br><br><strong>Produktų kūrimo padalinys</strong> daugelį metų kasdien tobulina tarptautinių
            rinkos lyderių sistemas, pvz., kelionių paieškos projektą KAYAK ar daugiau kaip 5000 diegimų Europoje
            turinčią „OXID eShop“ platformą. Padalinys produktus dažniausiai kuria pasitelkdamas Agile metodologiją.<br><br><strong>Projektų
                kūrimo padalinys</strong> dirba su fiksuotą užduotį turinčiais sprendimais. Padalinį sudaro <em>web</em>
            ir <em>mobile</em> komandos. NFQ projektų padalinys greičiui ir kokybei užtikrinti pasitelkia įvairias
            projektų valdymo metodologijas, praktikas bei įrankius, prisitaikydamas tiek prie didelių korporacijų
            procesų poreikių, tiek prie startuolių specifikos. Greitai kintančių verslo poreikių aplinkose NFQ naudoja
            Agile metodologiją, o prireikus pasitelkiama ir formali RUP metodika.</p>

    </div>

</div>