<div id="pageContent">
    <h1 class="title">
        <span class="pull-left animated infinite pulse">
            KAS YRA "NFQ"
        </span>
    </h1>
    <div class="div"></div>

    <div class="text-content">
        <p>NFQ yra 250 programuotojų ir kitų IT profesionalų Vilniuje ir Kaune vienijanti e. verslo plėtros kompanija, kurianti sudėtingas e. komercijos, verslo valdymo bei paieškos sistemas. NFQ ir jos partneriai Vokietijoje, JAV ir Azijoje taip pat investuoja į perspektyvius interneto verslus.</p>
        <p>Tarp NFQ vystomų produktų yra tokie vardai kaip:</p>
        <ul>
            <li><a target="_blank" href="http://www.makalius.lt/">Makalius.lt</a>, vienas populiariausių kelionių projektų Lietuvoje;<br /></li>
            <li><a target="_blank" href="http://www.kayak.com/">KAYAK</a>, didžiausia pasaulyje skrydžių paieškos sistema, kuriai <a target="_blank" href="http://articles.latimes.com/2013/sep/26/news/la-pn-obama-healthcare-online-shopping-20130926">gerų žodžių yra nepagailėjęs ir pats JAV prezidentas Barackas Obama;</a></li>
            <li><a target="_blank" href="http://www.aviasg.com/">Avia Solutions Group</a>, kuriai NFQ specialistai yra pagaminę Vilniaus bei kituose oro uostuose veikiančias keleivių registracijos, orlaivių aptarnavimo valdymo ir kitas sistemas;</li>
            <li><a target="_blank" href="http://citybee.lt/">CityBee.lt</a>, šiuolaikiškas miesto automobiliukų dalinimosi projektas;</li>
            <li><a target="_blank" href="http://ongr.io/">ONGR</a>, atvirojo kodo platforma didelių e. komercijos projektų kūrimui ir spartinimui;</li>
            <li><a target="_blank" href="http://www.home24.com/">Home24</a>, šešiose rinkose veikiantis baldų e. prekybos startuolis, norintis tapti “IKEA internete”;</li>
            <li><a target="_blank" href="http://www.oxid-esales.com/">OXID eShop</a>, daugiau kaip 5.000 Europos e. parduotuvių pritaikyta e. komercijos platforma;</li>
            <li><a target="_blank" href="https://www.hometogo.de/">HomeToGo</a>, milžiniškas atostogų būsto paieškos startuolis;</li>
            <li>Ir dešimtys kitų.</li>
        </ul>

        <img src="/assets/img/nfq/random_office.png" alt="NFQ Biuro nuotrauka" class="content-image">
    </div>

    <div class="text-content">
        <p>NFQ nuolat bendradarbiauja su Lietuvos mokyklomis ir universitetais. NFQ darbuotojai veda įvairias paskaitas ir seminarus universitetuose, neseniai pradėta programavimo užsiėmimų Kauno informatikos mokytojams iniciatyva.</p>
    </div>
    <div class="text-content">
        <p>NFQ yra <a target="_blank" href="http://www.nfq.lt/ongr-laimejo-naujasis-knygnesys">daugybės įvairių apdovanojimų</a> laimėtoja, tačiau didžiausias apdovanojimas kompanijai yra laimingi darbuotojai. Jiems NFQ nuolat rengia įvairius sporto turnyrus, daugybę vidinių ir <a target="_blank" href="https://www.facebook.com/nfq.lt/events">išorinių pranešimų</a> bei seminarų, vasaros bei Kalėdų šventes, dalinimosi žiniomis ir patirtimi šventę “<a target="_blank" href="https://www.facebook.com/media/set/?set=a.628546770618443.1073741848.472841852855603&type=3">NFQ Offline Day</a>”, ką jau kalbėti apie kasdienes pramogas ir vaišes stilinguose kompanijos biuruose.</p>
        <img src="/assets/img/nfq/kolektyvs.jpg" alt="NFQ Kolektyvo nuotrauka" class="content-image">
    </div>

    <div class="text-content">
        <p>Nuo 2012 m. pavasario NFQ Vilniuje ir Kaune rengia <a target="_blank" href="http://www.nfqakademija.lt/">NFQ Akademiją</a> - trijų mėnesių trukmės paskaitų ir praktinių užsiėmimų ciklą studentams bei moksleiviams, norintiems sustiprinti savo programavimo įgūdžius. NFQ Akademijos studentai bent du kartus per savaitę renkasi į dviejų valandų trukmės seminarus, kurių metu su patyrusiais NFQ programuotojais gilina programavimo žinias ir, svarbiausia, pasidalinę į komandas kuria realius web projektus. Tarp pastarųjų metų NFQ Akademijos studentų darbų - programinė įranga futbolo stalui, grupinio maisto užsakymo sistema, įrankis miesto problemoms registruoti bei burti entuziastus joms spręsti ir kt.</p>
        <img src="/assets/img/nfq/akademija.jpg" class="content-image" alt="NFQ akademijos nuotrauka">
    </div>
</div>
