<h1 class="title">
    <span class="pull-left animated infinite pulse">
        {{ student.name }}
    </span>
</h1>
<div class="div"></div>

<div class="text-content ">
    <div class="pull-right text-center hidden-xs">
        <h3 class="title">Statistika tarp:</h3>
        <div class="text-center" google-chart chart="chartObject"></div>
    </div>
    <address>
        <strong>{{ student.name }}</strong><br>
        {{ student.school }}<br>
        Klasė: {{ student.grade }}<br>
        <abbr title="Informatikos ir informatinio mąstymo konkurso „Bebras“ rezultatas">Taškai:</abbr> {{ student.score }}
    </address>
</div>
