<h1 class="title">
    <span class="pull-left animated infinite pulse">
        {{ student.name }}
    </span>
</h1>
<div class="div"></div>

<div class="text-content" google-chart chart="chartObject" style="height:170px; width:100%;"></div>

<div class="table-responsive">


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Klasė</th>
                <th>Vardas Pavardė</th>
                <th>Mokykla</th>
                <th>Taškai</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ student.grader }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.school }}</td>
                <td>{{ student.score }}</td>
            </tr>
        </tbody>
    </table>
</div>