<h1 class="title">
    <span class="pull-left animated infinite pulse">
        REZULTATAI
    </span>
</h1>
<div class="div"></div>

<input type="text" ng-model="search.$" ng-model-options="{ debounce: 150 }" placeholder="Ieskoti...">

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Klasė</th>
                <th>Vardas Pavardė</th>
                <th>Mokykla</th>
                <th>Taškai</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in total = (student.list | filter:search)">
                <td>{{total.length}}{{ student.grader }}</td>
                <td><a ng-href="/student/{{ student.id }}">{{ student.name }}</a></td>
                <td>{{ student.school }}</td>
                <td class="score">{{ student.score }}</td>
            </tr>
            <tr>
                <td ng-if="!total.length" colspan="4">No results...</td>
            </tr>
        </tbody>
    </table>
</div>
