<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Klasė</th>
                <th>Vardas Pavardė</th>
                <th>Mokykla</th>
                <th>Taškai</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in student.list">
                <td>{{ student.grader }}</td>
                <td><a ng-href="/student/{{ student.id }}">{{ student.name }}</a></td>
                <td>{{ student.school }}</td>
                <td>{{ student.score }}</td>
            </tr>
        </tbody>
    </table>
</div>