
<div class="table-responsive">
    {{ stats.grader }} AND {{ stats.school }}

    <canvas id="line" class="chart chart-line" data-chart-data="data"
            data-chart-labels="labels" data-chart-legend="true" data-chart-series="series"
            data-chart-click="onClick" >
    </canvas>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Klasė</th>
                <th>Vardas Pavardė</th>
                <th>Mokykla</th>
                <th>Taškai</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ student.grader }}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.school }}</td>
                <td>{{ student.score }}</td>
            </tr>
        </tbody>
    </table>
</div>